.ap1 {
  width: 100%;
  height: 100%;
  padding-top: 1vw;
}

.ap2 {
  height: 5vh;
  margin: 4vh 0 0 8vw;
}

.ap3 {
  height: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  color: #555;
  outline: none;
  background-color: aliceblue;
}

.ap3:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.ap4 {
  font-size: 16px;
  margin-right: 2vw;
  color: #000000;
}

.ap5 {
  height: 10vh;
  margin: 3vh 0 0 8vw;
  display: flex;
}

.ap6 {
  width: 25%;
  height: 100%;
}

.ap7 {
  margin: 3vh 0 0 8vw;
  height: 4vh;
}

.ap8 {
  height: 100%;
  color: #000;
}

.ap9 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 34px;
  width: 112px;
  border: none;
  background: #ff362b34;
  border-radius: 5px;
  cursor: pointer;
}

.ap10 {
  line-height: 20px;
  font-size: 15px;
  color: #ff342b;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.ap9:hover {
  background: #ff362b52;
}

.ap9:hover .svg-icon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.ap11 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px 8px 16px;
  gap: 8px;
  height: 40px;
  width: 128px;
  border: none;
  background: #056bfa27;
  border-radius: 5px;
  cursor: pointer;
}

.ap12 {
  margin-top: 1px;
  font-size: 15px;
  line-height: 22px;
  color: #056dfa;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.ap11:hover {
  background: #056bfa49;
}

.ap11:hover .svg-icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-8deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.ap13 {
  display: flex;
  margin-left: 10vw;
  margin-top: 5vh;
  height: 5vh;
}

.ap14 {
  height: 100%;
  margin-right: 2vw;
  border: none;
  outline: none;
}
